
/* Стили анимации пульсации кругов */
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}
/* Стили кроссбраузерной анимации пульсации кругов */
@-webkit-keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}


@keyframes showElem {

    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sendPreloader {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
