@mixin font($fname, $fstyle, $fweight, $furl_woff2){
    @font-face{
        font-family: $fname;
        font-style: $fstyle;
        font-weight: $fweight;
        font-stretch: 100%;
        font-display: swap;
        src: url($furl_woff2) format('woff2');
    }
}

// @include font('Noto Sans', normal, 400, '../fonts/noto-sans.woff2');

@include font('Montserrat-black', normal, 700, '../fonts/Montserrat/Montserrat-Black.ttf');
@include font('Montserrat-extra-bold', normal, 600, '../fonts/Montserrat/Montserrat-ExtraBold.ttf');
@include font('Montserrat-bold', normal, 600, '../fonts/Montserrat/Montserrat-Bold.ttf');
@include font('Montserrat-medium', normal, 500, '../fonts/Montserrat/Montserrat-Medium.ttf');
@include font('Montserrat-regular', normal, 400, '../fonts/Montserrat/Montserrat-Regular.ttf');
@include font('Oswald Bold', normal, 700, '../fonts/Oswald/Oswald-Bold.ttf');
@include font('Oswald Regular', normal, 400, '../fonts/Oswald/Oswald-Regular.ttf');
@include font('Oswald Medium', normal, 500, '../fonts/Oswald/Oswald-Medium.ttf');
@include font('Steppe', normal, 700, '../fonts/Steppe.ttf');
@include font('Panchang-Semibold', normal, 600, '../fonts/Panchang/Panchang-Semibold.ttf');