.change-lang-menu__item + .change-lang-menu__item {
    margin-top: 10px;
}

.change-lang-menu__item--mobile + .change-lang-menu__item--mobile {
    margin-top: 15px;
}

.change-lang-menu__btn {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--bg-page);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    transition: color 0.2s;

    &:hover {
        color: var(--accent-light);
    }
}

.change-lang-menu__btn--active {
     color: var(--accent-light);
}

.change-lang-menu__img {
    margin-right: 20px;
    width: 25px;
    height: 25px;
}