.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-elem {
    position: relative;
    width: 100%;

    &:not(:first-child) {
        margin: 8px 0 0 0;
    }
}

.form-elem input {
    height: 60px;
}

.form-elem textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 164px;
    transition: 0s;
}

.form-elem__area {
    width: 100%;
    background: #F9F9F9;
    border-radius: 8px;
    padding: 30px 12px 12px 12px;
    transition: $tr;

    &:hover {
        background: #F4F4F4;
    }

    &:focus {

        & + .form-elem__label {
            font-size: 10px;
            color: $second;
            transform: translate(0, calc(-50% - 9px));
        }
    }

    &:not(:placeholder-shown).form-elem__area:not(:focus) {
        // border: 1px solid $accent;

        & + .form-elem__label {
            font-size: 10px;
            color: $second;
            transform: translate(0, calc(-50% - 9px)); 
        }
    }

    &._error {
        border: 1px solid $error !important;

        & + .form-elem__label {

            &::after {
                opacity: 1;
            }
        }
    }
}

.form-elem__label {
    position: absolute;
    top: 30px;
    left: 12px;
    width: 100%;
    transform: translate(0, -50%);
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    transition: $tr;

    &::after {
        content: 'Error';
        font-size: inherit;
        color: $error;
        margin: 0 0 0 6px;
        opacity: 0;
    }
}

.form-elem__required {
    position: absolute;
    top: 50%;
    right: 12px;
    display: block;
    transform: translate(0, -50%);
    font-size: 14px;
    color: $main;
    pointer-events: none;
}

.form-input {
    padding: 19px 29px;
    font-family: 'Montserrat-medium', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    background: #23252D;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: border-color .3s;

    &:hover,
    &:focus {
        border-color: rgb(0, 242, 251);
    }

    &::placeholder {
        color: #fff;
        opacity: .5;
        transition: color .3s;
    }

    @media (max-width: 767px) {
        padding: 19px;
        font-size: 14px;
        line-height: 17px;
    }
}

textarea.form-input {
    min-height: 210px;
    resize: none;

    @media (max-width: 767px) {
        min-height: 180px;
    }
}

.form-input_error {
    border-color: $error;

    &::placeholder {
        color: $error;
    }

    &:hover,
    &:focus {
        border-color: $error;
    }
}

.form-submit {
    display: inline-flex;
    justify-content: center;
    padding: 18px 28px;
    font-family: 'Montserrat-bold', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    border: 2px solid #fff;
    border-radius: 10px;

    &:hover {
        color: rgb(0, 242, 251);
        border-color: rgb(0, 242, 251);
    }

    &:disabled {
        &:hover {
            color: #fff;
            border-color: #fff;
        }
    }

    @media (max-width: 767px) {
        padding: 18px;
        font-size: 16px;
        line-height: 20px;
    }
}

.form-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-select_active {
    .form-select__toggle {
        &::before {
            transform: rotate(-180deg);
        }
    }

    .form-select__list {
        opacity: 1;
        visibility: visible;
        transform: translateY(20px);
    }
}

.form-select__input {
    position: absolute;
    transform: scale(0);
}

.form-select__toggle {
    position: relative;
    padding: 19px 29px;
    padding-right: 60px;
    font-family: 'Montserrat-medium', sans-serif;
    color: rgba(255, 255, 255, .5);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    background: #23252D;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: border-color .3s, color .3s;

    &:hover,
    &:focus {
        border-color: rgb(0, 242, 251);
    }

    &::before {
        content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none"%3E%3Cpath d="M0.45119 1.6585C-0.11457 1.01192 0.344609 0 1.20377 0L10.7962 0C11.6554 0 12.1146 1.01192 11.5488 1.6585L6.75258 7.13991C6.35416 7.59524 5.64583 7.59524 5.24742 7.13991L0.45119 1.6585Z" fill="white"/%3E%3C/svg%3E');
        position: absolute;
        right: 31px;
        top: 16px;
        opacity: .5;
        transition: $tr;
    }

    @media (max-width: 767px) {
        padding: 19px;
        padding-right: 40px;
        font-size: 14px;
        line-height: 17px;

        &::before {
            right: 19px;
            top: 20px;
        }
    }
}

.form-select__toggle_selected {
    color: #FFFFFF;
}

.form-select__list {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    z-index: 1;
    display: grid;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 10px;
    background: #23252D;
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: $tr;

    @media (max-width: 767px) {
        padding: 20px;
    }
}

.form-select__btn {
    position: relative;
    padding-left: 60px;
    color: #FFFFFF;
    font-family: 'Montserrat-medium', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 8px;
        top: 8px;
        width: 14px;
        height: 14px;
        background: #FFFFFF;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        transition: $tr;
    }

    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.form-select__btn_active {
    opacity: 1;
    
    &::after {
        transform: scale(1);
        opacity: 1;
    }
}