.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-elem {
    position: relative;
    width: 100%;

    &:not(:first-child) {
        margin: 8px 0 0 0;
    }
}

.form-elem input {
    height: 60px;
}

.form-elem textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 164px;
    transition: 0s;
}

.form-elem__area {
    width: 100%;
    background: #F9F9F9;
    border-radius: 8px;
    padding: 30px 12px 12px 12px;
    transition: $tr;

    &:hover {
        background: #F4F4F4;
    }

    &:focus {

        & + .form-elem__label {
            font-size: 10px;
            color: $second;
            transform: translate(0, calc(-50% - 9px));
        }
    }

    &:not(:placeholder-shown).form-elem__area:not(:focus) {
        // border: 1px solid $accent;

        & + .form-elem__label {
            font-size: 10px;
            color: $second;
            transform: translate(0, calc(-50% - 9px)); 
        }
    }

    &._error {
        border: 1px solid $error !important;

        & + .form-elem__label {

            &::after {
                opacity: 1;
            }
        }
    }
}

.form-elem__label {
    position: absolute;
    top: 30px;
    left: 12px;
    width: 100%;
    transform: translate(0, -50%);
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    transition: $tr;

    &::after {
        content: 'Error';
        font-size: inherit;
        color: $error;
        margin: 0 0 0 6px;
        opacity: 0;
    }
}

.form-elem__required {
    position: absolute;
    top: 50%;
    right: 12px;
    display: block;
    transform: translate(0, -50%);
    font-size: 14px;
    color: $main;
    pointer-events: none;
}

.form-input {
    padding: 19px 29px;
    font-family: 'Montserrat-medium', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    background: #23252D;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: border-color .3s;

    &:hover,
    &:focus {
        border-color: rgb(0, 242, 251);
    }

    &::placeholder {
        color: #fff;
        opacity: .5;
        transition: color .3s;
    }

    @media (max-width: 767px) {
        padding: 19px;
        font-size: 14px;
        line-height: 17px;
    }
}

textarea.form-input {
    min-height: 210px;
    resize: none;

    @media (max-width: 767px) {
        min-height: 180px;
    }
}

.form-input_error {
    border-color: $error;

    &::placeholder {
        color: $error;
    }
}

.form-submit {
    display: inline-flex;
    justify-content: center;
    padding: 18px 28px;
    font-family: 'Montserrat-bold', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    border: 2px solid #fff;
    border-radius: 10px;

    &:hover {
        color: rgb(0, 242, 251);
        border-color: rgb(0, 242, 251);
    }

    @media (max-width: 767px) {
        padding: 18px;
        font-size: 16px;
        line-height: 20px;
    }
}