.c-card {
	$self: &;
	display: flex;
	flex-flow: column nowrap;
	color: #fff;

	&__image {
		display: block;
		height: 240px;
		overflow: hidden;
		backface-visibility: hidden;
		transform: translateZ(0);
		border-radius: 10px;
		margin-bottom: 32px;

		&:hover img {
			transform: scale(110%);
		}
		
		@media (max-width: 440px) {
			height: 170px;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		font-family: 'Montserrat-regular', sans-serif;
		font-size: 16px;
		margin-bottom: 16px;
		font-size: 20px;

		@media (max-width: 780px) {
			font-size: 18px;
		}

		@media (max-width: 440px) {
			font-size: 16px;
		}
	}

	&__date {

	}

	&__cat {
		color: rgba(255, 255, 255, 0.3);
	}

	&__title {
		font-family: 'Oswald Regular', sans-serif;
		line-height: 1.3;
		letter-spacing: 0.015em;
		text-transform: uppercase;
		margin-bottom: 16px;
		font-size: 28px;
		color: #fff;

		@media (max-width: 1440px) {
			font-size: calc(16px + 12 * (100vw - 320px) / (1440 - 320));
		}

		@media (max-width: 320px) {
			font-size: 16px;
		}
	}

	&__tags {

	}
}
