.apps {
    position: relative;
    padding-top: 400px;
    padding-bottom: 400px;

    @media (max-width: 1080px) {
        padding-top: 200px;
        padding-bottom: 50px;
    }

    @media (max-width: 767px) {
        padding-top: 50px;
    }
}

.apps__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
        content: "";
        position: absolute;
        left: 26%;
        top: 37%;
        display: block;
        width: 36.7%;
        height: 699px;
        background: rgba(128, 0, 255, 0.4);
        filter: blur(200px);

        @media (max-width: 767px) {
            left: 0;
            top: 98px;
            width: 100%;
            height: 320px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 54%;
        top: 40%;
        display: block;
        width: 34.4%;
        height: 657.79px;
        background: rgba(0, 133, 255, 0.5);
        filter: blur(200px);

        @media (max-width: 767px) {
            left: 0;
            top: 98px;
            width: 100%;
            height: 300px;
        }
    }

    &-circle {
        position: absolute;
        left: 12.5%;
        top: 32%;
        display: block;
        width: 18%;
        height: 340.97px;
        background: rgba(0, 133, 255, 0.4);
        filter: blur(200px);

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.apps__title {
    margin-bottom: 30px;
    font-family: 'Montserrat-extra-bold';
    font-style: normal;
    font-size: 86px;
    font-weight: 700;
    line-height: 105px;
    text-align: center;
    letter-spacing: -0.03em;
    background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    @media (max-width: 1080px) {
        font-size: 60px;
        line-height: 68px;
    }

    @media (max-width: 767px) {
        margin-bottom: 10px;
        font-size: 32px;
        line-height: 39px;
    }
}

.apps__desc {
    margin-bottom: 100px;
    font-family: 'Oswald Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: 1080px) {
        margin-bottom: 50px;
        font-size: 28px;
        line-height: 35px;
    }

    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.apps__download {
    margin-bottom: 30px;
    font-family: 'Montserrat-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1080px) {
        font-size: 28px;
        line-height: 35px;
    }

    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (max-width: 575px) {
        padding: 0 10px;
    }
}

.apps__links {
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 20px 50px;
    justify-content: center;

    @media (max-width: 1080px) {
        grid-template-columns: 280px 280px;
    }

    @media (max-width: 767px) {
        grid-template-columns: 350px;
    }

    @media (max-width: 575px) {
        grid-template-columns: 1fr;
    }
}

.apps__link {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 2px 16px;
    padding: 12px;
    height: 100%;
    text-transform: unset;

    @media (max-width: 1080px) {
        padding: 6px;
    }
}

.apps__link-icon {
    grid-row: span 2;

    @media (max-width: 1080px) {
        height: 34px;
    }
}

.apps__link-desc {
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    @media (max-width: 1080px) {
        font-size: 14px;
        line-height: 17px;
    }
}

.apps__link-title {
    font-family: 'Montserrat-extra-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    @media (max-width: 1080px) {
        font-size: 16px;
        line-height: 20px;
    }
}
