.contacts{
    padding-bottom: 120px;
    padding-top: 120px;
    position: relative;
}

.contacts__bg{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

.contacts__wrap{
    flex-direction: column;
}

.contacts__title{
    font-family: 'Montserrat-bold';
    font-size: 96px;
    line-height: 117px;
    letter-spacing: -0.03em;
    margin-bottom: 10px;
}

.contacts__subtitle{
    font-family: 'Oswald Regular';
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.015em;
    display: flex;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 60px;
    span{
        background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
        margin-right: 10px;
    }
}

.contacts__wrap2{
    justify-content: center;
    
}

.contacts-item{
    margin-right: 70px;
    &:last-child{
        margin-right: 0;
    }
    position: relative;
    width: 130px;
    height: 130px;
    border: 2px solid #9C97BA;
    transition: all 0.2s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    svg{
        width: auto;
        height: auto;
        fill: #fff;
        transition: all 0.2s;
        path{
            transition: all 0.2s;
        }
    }

    &::before{
        content: '';
        display: block;
        width: 113px;
        height: 113px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        filter: blur(2px);
        opacity: 0.2;
        transition: all 0.2s; 

    }

    &:hover{
        cursor: pointer;
        border-color: #387DFB;
        &::before{
            opacity: 0,1;
        }
        svg{
            fill: #00F2FB;
        }
    }
}

@media (max-width: 1080px){
    .contacts{
        padding-top: 70px;
        padding-bottom: 70px;
    }  

    .contacts__title{
        font-size: 60px;
        line-height: 66px;
    }

    .contacts__subtitle{
        font-size: 28px;
        line-height: 35px;
        display: block;
        text-align: center;
        span{
            display: inline-block;
            margin-right: 5px;
        }
    }

    .contacts__wrap2{
        justify-content: center;
        gap: 15px 35px;
    }

    .contacts-item{
        margin-right: 0;
    }

    .contacts-item{
        width: 80px;
        height: 80px;
        margin-right: 0;
    }
    .contacts-item::before{
        width: 70px;
        height: 70px;
    }
    .contacts-item svg{
        transform: scale(0.7);
    }
}

@media (max-width: 767px){
    .contacts{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contacts__bg{
        height: 100%;
        top: 0;
        img{
            object-fit: cover;
        }
    }
    .contacts__title{
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.03em; 
    }

    .contacts__subtitle{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.015em;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        span{
            display: inline-block;
            margin-right: 3px;
        }
    }

    .contacts__wrap2{
        justify-content: center;
        gap: 15px 35px;
    }

    .contacts-item{
        width: 65px;
        height: 65px;
        margin-right: 0;
    }
    .contacts-item::before{
        width: 56px;
        height: 56px;
    }
    .contacts-item svg{
        transform: scale(0.5);
    }
}