.first-pilot{
    padding-top: 100px;
    padding-bottom: 86px;
    position: relative;
    overflow: hidden;
}

.first-pilot__box{
    background-color: #23252D;
    border-radius: 10px;
    width: 100%;
    padding: 134px 50px;
    position: relative;
    background-image: url(../../img/first-pilot/bg.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.first-pilot__box-text{
    font-size: 36px;
    color: #fff;
    font-family: 'Montserrat-bold';
    line-height: 44px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    a{
        background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
    }
}

.first-pilot__box-img{
    position: absolute;
    right: -100px;
    top: -47px;
    width: 744px;
    height: 503px;
}

@media (max-width: 1080px){
    .first-pilot{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .first-pilot__box{
        padding: 70px 25px;
        background-image: none;
    }
    .first-pilot__box-img{
        width: 416px;
        right: -88px;
        top: -115px;
    }

    .first-pilot__box-text{
        font-size: 27px;
        line-height: 36px;
    }
    
}

@media (max-width: 767px){
    .first-pilot{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .first-pilot__box{
        background-image: none;
        position: relative;
    }

    .first-pilot__box-img{
        right: 50%;
        top: -20px;
        transform: translateX(50%);
        height: auto;
        width: 280px;
    }

    .first-pilot__box{
        padding: 20px;
        padding-top: 167px;
    }
    .first-pilot__box-text{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.03em;
        text-align: center;
    }
    .first-pilot__box-text a{
        margin: 0 auto;
    }

}