.first-screen{
    background-image: url(../img/first-screen/bg.png);
    background-size: cover;
    padding-top: 621px;
    padding-bottom: 60px;
}


.first-screen__title{
    font-size: 96px;
    margin-bottom: 0;
    font-family: 'Montserrat-bold';

}