.gallary{
    padding-top: 120px;
    padding-bottom: 182px;
    position: relative;
}

.gallary__shadows{
    position: absolute;
    width: 100%;
    height: auto;
    top: -300px;
    animation: 2s showElem infinite ease-in-out;
    animation-direction: alternate;
}

.gallary__slide{
    width: 900px;
    max-width: 90%;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(0.90);
    transition: all 0.2s;
}

.swiper-slide-active{
    transform: scale(1);
}

.gallary__swiper-pagination{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.3;
    transition: all 0.2s;
    margin-right: 12px;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.swiper-pagination-bullet-active{
    width: 40px;
    background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
    border-radius: 20px;
    opacity: 1;
}

@media (max-width: 1080px){
    .gallary{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}


@media (max-width: 767px){
    .gallary{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .gallary__shadows{
        top: -56px;
    }

    .gallary__swiper-pagination{
        margin-top: 30px;
    }

    .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
        margin-right: 8px;
        &:last-child{
            margin-right: 0;
        }
    }
    .swiper-pagination-bullet-active{
        width: 24px;
    }
}