.header{
    padding-top: 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s;
    z-index: 12;
    &:after {
        opacity: 0;
        transition: all 0.2s;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.header.sticky{
    height: 100px;
    position: fixed;
    top: 0;
    &:after {
        content: "";
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #12141A 0%, rgba(18, 20, 26, 0) 100%);
        opacity: 1;
        width: 100%;
        height: 100px; 
        z-index: -1;
    }
}

.header__wrap{
    justify-content: space-between;
}

.header__logo{
    width: 200px;
    display: inline-block;
}

.header__nav {
    margin-left: auto;
}

.header__nav--mobile{
    display: none;
    
}

.header__nav-list{
    display: flex;
}

.header__nav-elem{
    color: #fff;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat-bold';
    opacity: 0.8;
    transition: all 0.2s;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        opacity: 1;
    }
}

.header__nav-elem--has-sub{
    position: relative;
    margin-right: 55px;
    &::after{
        content: '';
        display: block;
        width: 10px;
        height: 7px;
        background-image: url(../img/arrow-nav.png);
        position: absolute;
        right: -20px;
        top: 6px;
        transition: all 0.5s;
    }
}

.header__nav-sub-list{
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    opacity: 0;
}

.header__nav-sub-elem{
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: none;
}

.header__nav-elem--has-sub:hover{
    cursor: pointer;
    &::after{
        top: 5px;
        transform: rotate(180deg);
    }
    .header__nav-sub-list{
        max-height: none;
        opacity: 1;
        padding-top: 40px;
    }
}


.header__nav-burger{
    display: none;
}

.header__lang {
    position: relative;
    margin-left: 30px;
}

.header__lang-btn {
    display: flex;
    align-items: center;
    color: var(--bg-page);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.header__lang-img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.header__lang-menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s;

    &::before {
        content: "";
        border: 16px solid transparent;
        border-bottom: 16px solid rgba(18, 20, 26, 0.9);
    }
}

.header__lang-menu_active {
    transform: translate(-50%, 0);
    max-height: none;
    opacity: 1;
}

.header__lang-menu-inner {
    padding: 20px 30px;
    background-color: rgba(18, 20, 26, 0.9);
    border-radius: 12px;
}

.header__join {
    margin-left: 30px;
    padding: 10px 20px;
    width: unset;
    font-size: 16px;
    line-height: 20px;
    text-transform: unset;

    @media (max-width: 1300px) {
        margin-top: 20px;
        margin-left: auto;
    }

    @media (max-width: 1080px) {
        display: none;
    }
}

@media (max-width: 1439px){
    .header__lang {
        &:hover .header__lang-menu {
            transform: translate(0, 0);
        }
    }

    .header__lang-menu {
        left: auto;
        right: 0;
        transform: translate(0, -20px);

        &::before {
            margin-left: auto;
            margin-right: 25px;
        }
    }
}

@media (max-width: 1300px){
    .header__nav-elem {
        margin-right: 25px;
    }

    .header__nav-elem--has-sub {
        margin-right: 50px;
    }
}

@media (max-width: 1080px){
    .header{
        top: 0;
    }

    .header__nav-sub-list{
        position: static;
        transition: all 0.2s ease-out;
    }

    .header__nav-elem--has-sub:hover{
        .header__nav-sub-list{
            max-height: 300px;
            opacity: 1;
        }
    }

    .header__nav{
        background: rgba(35, 37, 45, 1);
        position: fixed;
        right: -150px;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 100px 20px 95px;
        transition: all 0.2s;
        opacity: 0;
        z-index: -2;
        overflow-y: auto;
        //transform: translateX(50%);
    }
    .header__nav.active{
        right: 0;
        opacity: 1;
        transform: translateX(0); 
        z-index: 11;
    }

    
    .header__container{
        position: relative;
    }
    .header__nav-list{
        display: block;
    }
    .header__nav{
        display: none;
    }
    .header__nav--mobile{
        display: block;
        position: fixed;
    }

    .header__nav-elem{
        margin-bottom: 35px;
        opacity: 1;
    }
    

    .header__nav-burger{
        display: block;
        position: absolute;
        right: 0px;
        top: 0;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
        span{
            height: 2px;
            width: 30px;
            border-radius: 2px;
            background-color: #fff;
            margin-bottom: 7px;
            transition: all 0.2s;
            position: relative;
            &:last-child{
                margin-bottom: 0;
                width: 15px;
            }
        }
    }

    .header__nav-burger.active{
        
        span{
            &:first-child{
                transform: rotate(45deg);
                top: 13px;
            }
            &:nth-child(2){
                transform: rotate(-45deg);
                bottom: -4px;
            }
            &:last-child{
                opacity: 0;
            } 
        }
    }

    .header__nav-lang {
        display: inline-flex;
        padding-top: 35px;
        min-width: 150px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .header__nav-lang-btn {
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        transition: color 0.2s;
    
        &:hover {
            color: var(--accent-light);
        }
    }
    
    .header__nav-lang-img {
        margin-right: 20px;
    }

    .header__lang {
        display: none;
    }

    .header__nav-join {
        display: block;
        margin-top: 35px;
        padding: 10px 20px;
        width: unset;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: unset;
    }
}

@media (max-width: 820px){
    .header__nav-burger{
        right: 20px;
    }

    .header__nav-elem--has-sub:hover{
        .header__nav-sub-list{
            padding-top: 20px;
        }
    }
}