.meta{
    position: relative;
    padding-top: 439px;
    padding-bottom: 120px;
}

.meta__bg{
    position: absolute;
    top: 0;
    right: 0;
}

.meta__bg-img{
    z-index: -1;
}

.meta__point{
    position: absolute;
    display: flex;
    align-items: center;
    transform: scale(0.6);
}


.meta__point--1{
    top: 557px;
    right: 260px;
    transform: scale(1);
    font-size: 22px;
}

.meta__point--2{
    top: 423px;
    right: 232px;
}


.meta__point--3{
    top: 367px;
    right: 500px;
}

.meta__point--4{
    top: 272px;
    right: 349px;
}

.meta__point--5{
    top: 255px;
    right: 672px;
}





.meta__point-title{
    font-family:'Montserrat-bold';
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0em;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 85px;
    transform: translateY(-2px);
    line-height: 26px;
}

.meta__wrap{
    display: block;
}

.meta__title{
    background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 86px;
    line-height: 117px;
    letter-spacing: -0.03em;
    font-family: 'Montserrat-bold';
    text-align: left;
}

.meta__subtitle{
    font-family: 'Oswald Regular';
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 50px;
}

.meta__text{
    font-family: 'Montserrat-medium';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0em;
    color: #fff;
    margin-bottom: 30px;
    max-width: 795px;
    &:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 1440px){
    .meta__bg-img{
        width: 100vw;
    }

    .meta__point--1{
        top: 38.68055555555556VW;
        right: 18.005556VW;
        transform: scale(1);
        font-size: 22px;
    }
    
    .meta__point--2{
        top: 29.375VW;
        right: 16.144444VW;
    }
    
    
    .meta__point--3{
        top: 25.48611111111111VW;
        right: 34.572222VW;
    }
    
    .meta__point--4{
        top: 18.88888888888889VW;
        right: 24.208333VW;
    }
    
    .meta__point--5{
        top: 17.708333333333336VW;
        right: 46.577778VW;
    }
}

@media (max-width: 1080px){
    .meta{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 70px;
        padding-bottom: 0;
        overflow: hidden;
    } 

    .meta__title{
        text-align: center;
        font-size: 60px;
        line-height: 66px;
    }

    .meta__subtitle{
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .meta__text{
        font-size: 18px;
    }

    .meta__bg{
        position: relative;
    }

    .meta__bg-img{
        width: 100%;
        max-width: none;
        object-fit: revert;
        position: relative;
        right: 0;
        height: auto;
    }

    
}

@media (max-width: 767px){
    .meta{
        padding-top: 50px;
    }
    .meta__title{
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.03em;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .meta__subtitle{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.015em;
        text-align: center;
        margin-bottom: 20px;
    }

    .meta__text{
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0em;
        margin-bottom: 20px;
        font-family: 'Montserrat-medium';
        &:last-child{
            margin-bottom: 0;
        }
    }

    .meta__bg{
        position: relative;
    }

    .meta__bg-img{
        width: 150%;
        max-width: none;
        object-fit: revert;
        position: relative;
        right: 155px;
        height: auto;
    }

    .meta__point-title{
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0em;
        left: 32px;
    }
    .meta__point-img{
        width: 30px;
    }
    .meta__point{
        transform: scale(1);
    }
    .meta__point--1{
        top: 56.25VW;
        right: 24.75VW;;
        .meta__point-title{
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0em;
            left: 40px;
        }
        .meta__point-img{
            width: 40px;
        }
    }

    .meta__point--2{
        top: 76.5625VW;
        right: 50.625VW;    
    }

    .meta__point--3{
        top: 38.4375VW;
        right: 51.25VW;   
    }

    .meta__point--4{
        top: 26.5625VW;
        right: 35.625VW;  
    }

    .meta__point--5{
        top: 25VW;
        right: 74.3125VW;  
    }
}