.partners {
	position: relative;
	padding: 200px 0;

	@media (max-width: 1439px) {
		padding: 120px 0;
	}

	@media (max-width: 767px) {
		padding: 70px 0;
	}

	@media (max-width: 575px) {
		padding: 50px 0;
	}
}

.partners__title {
	font-family: "Montserrat-bold";
	font-size: 86px;
	line-height: 117px;
	letter-spacing: -0.03em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 100px;
	
	@media (max-width: 1080px) {
		margin-bottom: 60px;
		line-height: 66px;
		font-size: 60px;
	}
	
	@media (max-width: 767px) {
		margin-bottom: 40px;
		line-height: 44px;
		font-size: 36px;
	}
	
	@media (max-width: 480px) {
		margin-bottom: 30px;
	}
}

.partners__list {
	width: 100%;
}

.partners__item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;

	img {
		max-width: calc(100% - 80px);
		max-height: 100px;
		
		@media (max-width: 1300px) {
			max-width: calc(100% - 40px);
		}
		
		@media (max-width: 640px) {
			max-width: calc(100% - 80px);
			max-height: 90px;
		}
		
		@media (max-width: 480px) {
			max-width: calc(100% - 40px);
		}
		
		@media (max-width: 375px) {
			max-width: calc(100% - 20px);
			max-height: 80px;
		}
	}
}

.partners__controls {
	margin-top: 50px;
}