.roadmap{
    padding-top: 120px;
    padding-bottom: 140px;
    position: relative;
}

.roadmap__bg{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

.roadmap__wrap{
    justify-content: center;
}

.roadmap__title{
    font-family: 'Montserrat-bold';
    font-size: 96px;
    line-height: 117px;
    letter-spacing: -0.03em;
    margin-bottom: 72px;
}

.roadmap-list{
    width: 750px;
    display: block;
}


.roadmap-list__item{
    height: 207px;
    padding-left: 74px;
    position: relative;
    &:after{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        left: -10px;
        top: 0px;
        z-index: 1;
    }

    &:before{
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.2;
        position: absolute;
        left: -25px;
        top: -15px;
        animation: 2s pulse infinite;
        animation-direction: alternate;
    }
}

.roadmap-list__item-border{
    width: 2px;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    background-color: #fff;
    opacity: 0.2;
}

.roadmap-list__item--1{
    .roadmap-list__item-border{
        width: 4px;
        background: #00F2FB;
        opacity: 1;
        left: -2px;
    }
}

.roadmap-list__item--1, .roadmap-list__item--2{
    .roadmap-list__item-data{
        background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
    }
}

.roadmap-list__item--3{
    height: 146px;
    &:before{
        width: 40px;
        height: 40px;
        left: -20px;
        top: -10px;
    }
}

.roadmap-list__item-data{
    margin-bottom: 20px;
    font-family: 'Montserrat-bold';
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    position: relative;
    bottom: 12px;
}

.roadmap-list__item-text{
    font-family: 'Montserrat-medium';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0em;
    color: #fff;
    position: relative;
    bottom: 12px;
}

@media (max-width: 1080px){
    .roadmap{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .roadmap__title{
        font-size: 60px;
        line-height: 66px;
    }

    .roadmap-list__item-data{
        font-size: 28px;
        line-height: 35px;
    }

    .roadmap-list__item-text{
        font-size: 16px;
        line-height: 24px;
    }
}


@media (max-width: 767px){
    .roadmap{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .roadmap__bg{
        height: 100%;
        img{
            object-fit: cover;
        }
    }

    .roadmap__title{
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.03em;
    }

    .roadmap-list__item{
        height: 154px;
        padding-left: 70px;
    }

    .roadmap-list__item:before{
        left: 0;
    }
    .roadmap-list__item:after{
        left: 15px;
    }

    .roadmap-list__item-data{
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.03em;
        margin-bottom: 10px;
    }

    .roadmap-list__item-text{
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0em;
    }

    .roadmap-list__item-border{
        left: 24px;
    }
    .roadmap-list__item--1 .roadmap-list__item-border{
        left: 23px;
    }
}