.tokenomics{
    padding-top: 120px;
    padding-bottom: 108px;
    position: relative;
}

.tokenomics__wrap{
    flex-direction: column;
}

.tokenomics__title{
    font-family: 'Montserrat-bold';
    font-size: 96px;
    line-height: 117px;
    letter-spacing: -0.03em;
}

.tokenomics__subtitle{
    font-size: 36px;
    background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    line-height: 53px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    font-family: 'Oswald Regular';
    margin-bottom: 29px;
}

.tokenomics-car{
    display: inline-block;
    position: relative;
}

.tokenomics-car__shadows{
    position: absolute;
    width: 100%;
    height: auto;
    top: -103px;
    animation: 3s showElem infinite ease-in-out;
    animation-direction: alternate;
}

.tokenomics-car__img{
    width: 100%;
    transform: scale(1.081);
    position: relative;
    top: -30px;
}

.tokenomics-car__target{
    position: absolute;
    z-index: 2;
}

.tokenomics-car__target--1{
    left: 230px;
    top: 90px;
}   

.tokenomics-car__target--2{
    right: 535px;
    top: 85px;
}

.tokenomics-car__target--3{
    right: 257px;
    top: 136px;
}

.tokenomics-car__target--4{
    left: 235px;
    bottom: 195px;
}

.tokenomics-car__target--5{
    right: 758px;
    bottom: 95px;
}

.tokenomics-car__target--6{
    right: 212px;
    bottom: 130px;
}

.tokenomics-car__target-circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    &:before{
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        opacity: 0.3;
        z-index: 0;
        position: absolute;
        top: -50%;
        left: -50%;
        animation: 2s pulse infinite;
        animation-direction: alternate;
    }
}


.tokenomics-car__target-info{
    background-color: rgba(18, 20, 26, 0.8);
    color: #fff;
    padding: 30px;
    border-radius: 10px 20px 20px 20px;
    position: absolute;
    z-index: -2;
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(20px);
    pointer-events: none !important;
}

.tokenomics-car__target-percent{
    background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    display: table;
    font-size: 64px;
    font-family: 'Montserrat-bold';
    line-height: 78px;
    letter-spacing: 0em;
}

.tokenomics-car__target-descr{
    font-size: 22px;
    font-family: 'Montserrat-bold';
    text-transform: uppercase;
}

.tokenomics-car__target:hover{
    cursor: pointer;
    z-index: 4;
    .tokenomics-car__target-info{
        transform: translateY(-20px);
        opacity: 1;
    }
}

